.contact-bg-wrap {
  position: relative;
  z-index: 1;

}

#contact {
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  background: transparent;
  height: 100%;
}

.contact-bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background: radial-gradient(circle, var(--primary-color) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: moveBg 1s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

button {
  font-family: inherit;
  font-size: 18px;
  background: var(--primary-color);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--hover-color);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}


.cube-loader {
  position: relative;
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(to bottom,
      hsla(277, 72%, 38%, 0.801) 0%,
      hsl(245.27, 21.71%, 32.06%) 5.5%,
      hsl(250.67, 34.1%, 36.88%) 12.1%,
      hsl(255.61, 42.28%, 40.7%) 19.6%,
      hsl(260.63, 48.32%, 43.88%) 27.9%,
      hsl(263.66, 53.07%, 46.58%) 36.6%,
      hsl(265.7, 56.94%, 48.91%) 45.6%,
      hsl(267.74, 62.39%, 50.91%) 54.6%,
      hsl(268, 70%, 53%) 63.4%,
      hwb(269 19% 11%) 71.7%,
      hsl(270, 83%, 55%) 79.4%,
      hsl(272, 88%, 56%) 86.2%,
      hsl(274, 93%, 57%) 91.9%,
      hsl(276, 96%, 58%) 96.3%,
      hsl(280, 98%, 58%) 99%,
      hsl(289, 99%, 58%) 100%);
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(271, 90%, 40%) 0%;
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(276.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #eb0404,
    0 0 20px var(--primary-color) 19.6%,
    0 0 30px #f80b0b,
    0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}